* {
   /* border: 1px solid tomato; */
   box-sizing: border-box;
   position: relative;
}

nav {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 26px 20px;
   z-index: 1;
   border-bottom: 2px solid #f1f1f1;
   background-color: #ffffff;
}

nav .logo {
   display: flex;
   justify-content: flex-start;
   width: 360px;
}

nav .logo > * {
   background-repeat: no-repeat;
   height: 32px;
   background-size: 90%;
}

nav .logo .logo-img {
   width: 35px;
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/logo.png");
}

nav .logo .logo-bar {
   padding-left: 1px;
   padding-right: 1px;
   background-color: black;
   margin: 0 16px;
}

nav .logo .logo-text {
   width: 120px;
   background-image: url("/img/logo_text.png");
}

nav .search input {
   width: 200px;
   border: 0px;
   border-radius: 3px;
   outline: 0;
   border: 1px solid #dbdbdb;
   line-height: 23px;
}

nav .menu {
   display: flex;
   justify-content: flex-end;
   width: 360px;
}

nav .menu > * {
   background-repeat: no-repeat;
   height: 32px;
   background-size: 90%;
   width: 35px;
   margin-left: 30px;
}

nav .menu .menu-search {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}

nav .menu .menu-heart {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

nav .menu .menu-mypage {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}

main {
   margin: 0 auto;
   display: flex;
   flex-flow: row nowrap;
   flex-grow: 1;
   max-width: 935px;
   margin-bottom: 100px;
}

main * {
   width: 100%;
}

main .feeds {
   border: 1px solid #dbdbdb;
}

main .feeds,article,header,section,.feed-icons,.feed-state,.feed-comment {
   display: flex;
}

main .feeds {
   margin-top: 84px;
   top: 60px;
   max-width: 614px;
   margin-right: 28px;
}

main .feeds article {
   flex-direction: column;
}

main .feeds article header {
   align-items: center;
   padding: 10px;
}

main .feeds article header .userimage {
   border-radius: 100%;
   background-size: 100%;
   width: 40px;
   height: 35px;
   background-repeat: no-repeat;
   background-image: url("https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s150x150/75291135_578402932948862_6152326637594607616_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=NyvYxcGaUg8AX8SBMRT&oh=276e894a2eb15482ec349caf56abbef4&oe=5EC19473")
}

.user {
   margin-left: 10px;
   font-size: 13px;
}

.username {
   font-weight: 600;
}

.usersub {
   opacity: 0.6;
}

main .feeds article header .threedots {                  
   background-size: 100%;
   width: 24px;
   height: 24px;
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png");
}

main .feeds article section .feed-image {
   width: 614px;
   height: 483px;
   background-repeat: no-repeat;
   background-image: url("https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/82467602_2576778892391340_667086844844199994_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=100&_nc_ohc=rEJybHanNx8AX_ZqCyL&oh=254417355db51f2ef27f5130be591bdc&oe=5EBEC9BD");
}

main .feeds article section .feed-icons {
   justify-content: space-between;
   padding: 8px;
}

main .feeds article section .feed-icons .heart,.comment,.share,.bookmark {
   background-size: 100%;
   background-repeat: no-repeat;
   width: 26px;
   height: 26px;
}

main .feeds article section .feed-icons .three {
   display: flex;
   width: 18%;
   justify-content: space-between;
}

main .feeds article section .feed-icons .heart {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

main .feeds article section .feed-icons .comment {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png");
}

main .feeds article section .feed-icons .share {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/share.png");
}

main .feeds article section .feed-icons .bookmark {
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png");
}

main .feeds article section .feed-state {
   display: flex;
   flex-direction: column;
   margin-left: 6.5px;
}

.feed-like {
   font-size: 14px;
   font-weight: 600;
}

main .feeds article section .feed-comment {
   margin-top: 10px;
   border-top: 1px solid #dbdbdb;
   align-items: center;
   padding: 10px 0 10px 6.5px;
   /* input 테두리 없애는법... */
}


main .main-right {
   display: flex;
   flex-direction: column;
   margin-top: 84px;
   max-width: 293px;
   top: 60px;
}

.stories, .recommends {
   border: 1px solid #dbdbdb;
}

main .main-right .account {
   display: flex;
   align-items: center;
}

main .main-right .account .userimage {
   border-radius: 100%;
   background-size: 100%;
   width: 60px;
   height: 48px;
   background-repeat: no-repeat;
   background-image: url("https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s150x150/75291135_578402932948862_6152326637594607616_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=NyvYxcGaUg8AX8SBMRT&oh=276e894a2eb15482ec349caf56abbef4&oe=5EC19473")
}
.header {
   display: flex;
   justify-content: space-around;
}
.main {
   display: flex;
   flex-direction: column;
}

main .main-right .stories {
   display: flex;
   flex-direction: column;
   height: 182px;
   overflow: hidden auto;
}



main .main-right .recommends {
   height: auto;
   overflow: hidden auto;
}